@using MvcWebshop.Models


@model Klant

@{
    ViewBag.Title = "Klantgegevens";
}

<h2>Uw gegevens</h2>
@using (Html.BeginForm("Bevestig", "WinkelWagen"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="control-label col-md-2">Voornaam</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.voornaam, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.voornaam, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Achternaam</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.achternaam, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.achternaam, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Adres</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.adres, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.adres, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Postcode</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.postcode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.postcode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Stad</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.stad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.stad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Ga door" class="btn btn-custom" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Terug", "Index", "Home")
</div>
